[Unit]
Description=uWSGI server for satellite coordinate calculator
After=network.target

[Service]
User={{USER}}
Group=nginx
WorkingDirectory={{PROJECT_DIR}}
Environment="TLEPHEM_DATA_DIR=/tmp"
ExecStart=/usr/local/bin/uwsgi --ini tlephem.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target